* {
    box-sizing: border-box;
}

body {
    height: 100vh;
}

#genBtn {
    margin: 10px;
}

#newPw {
    background-color: rgb(201, 213, 241);
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
}

.container {
    height: 100%;
    vertical-align: middle;
}

.card {
    margin: auto;
    vertical-align: middle;
}

.settings {
    text-align: left;
}

#symbolRadios {
    margin-left: 20px;
}

#omitOption {
    margin-left: 20px;
    display: none;
}

#includeOption {
    margin-left: 20px;
    display: none;
}